@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-600;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ReactCrop__crop-selection {
  border: 2px solid #613099;
}

.ReactCrop__drag-handle::after {
  background-color: #613099;
}
